{% from '_includes/forms' import select, textfield %}

{% set scoreTresholds = {
    '0.0': '0.0',
    '0.1': '0.1',
    '0.2': '0.2',
    '0.3': '0.3',
    '0.4': '0.4',
    '0.5': '0.5',
    '0.6': '0.6',
    '0.7': '0.7',
    '0.8': '0.8',
    '0.9': '0.9',
    '1.0': '1.0',
} %}

<h2>reCAPTCHA v3</h2>

{{ textfield({
    id: 'siteKey',
    name: 'siteKey',
    value: settings['siteKey'],
    label: 'secret.key.label' | t,
    size: 40
}) }}

{{ textfield({
    id: 'secretKey',
    name: 'secretKey',
    value: settings['secretKey'],
    label: 'secret.key.label' | t,
    size: 40
}) }}

<div class="field">
    <div class="heading">
        <label id="scoreTreshold-label" for="scoreTreshold">
            {{ 'score.treshold.label' | t }}
        </label>
        <div class="instructions">
            <p>{{ 'score.treshold.instructions' | t | raw }}</p>
        </div>
    </div>

    {{ select({
        id: 'scoreTreshold',
        name: 'scoreTreshold',
        options: scoreTresholds,
        value: settings['scoreTreshold'],
    }) }}
</div>